<template>
  <div id="app">
    <div id="nav">
      <router-link v-if="!hasVoted()" to="/">Äänestä</router-link>
      <router-link v-else to="/voted">Ääni</router-link>
      |
      <router-link to="/about">Tietoa</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { hasVoted } from '@/voting'
export default {
  methods: {
    hasVoted
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html{
  overflow: hidden !important;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
