<template>
  <section class="section" style="overflow-y: auto">
    <div class="content has-text-left" >
      <h1>Tietoa äänestysjärjestelmästä</h1>
      <h3>Ohjeet</h3>
      <ol type="1">
        <li>Olet saanut Wilmassa koodin, jos et ole, ota yhteyttä ryhmänohjaajaasi</li>
        <li>Valitse kumpaa puheenjohtajaehdokasta äänestät puheenjohtajaksi ja kolme ehdokasta, joita äänestät tärkeysjärjestyksessä</li>
        <li>Voit vaihtaa ehdokkaiden järjestystä vetämällä</li>
        <li>Kun olet valmis, paina vahvista-nappia ja syötä saamasi koodi</li>
        <li>Tarkista vielä äänesi ja paina äänestä-nappia. Jos haluat vielä muuttaa ääniäsi, paina peruuta.</li>
        <li>Voit äänestämisen jälkeen katsoa omaa ääntäsi ääni-sivulta</li>
        <li>Ongelmatilanteissa ota yhteyttä ryhmänohjaajaasi.</li>
      </ol>
      <h3>Tekninen toimintaperiaate</h3>

      <p>Lähdekoodi <a href="https://gitlab.com/slaesvuo/ota-aanet">gitlabissa</a></p>

      <p>Järjestelmä perustuu <a href="https://en.wikipedia.org/wiki/Blind_signature">digitaaliseen allekirjoitukseen piilotetussa muodossa</a>.</p>
      <p>Tällä hetkellä käytetään STV- eli <a href="https://fi.wikipedia.org/wiki/Siirto%C3%A4%C3%A4nivaalitapa">siirtoäänivaalitapaa</a>.</p>

      <h3>Äänestyksen kulku teknisesti</h3>
      <ol type="1">
        <li>Äänestäjä saa koodin, jolla voi tunnistautua palveluun</li>
        <li>Äänestäjä järjestää kolme ehdokasta paremmuusjärjestykseen</li>
        <li>Äänestäjä generoi satunnaisen tunnisteen, ja yhdistää sen ehdokaslistaan, mistä saadaan vaalilippu</li>
        <li>Vaalilippu hashataan, ja sen jälkeen tämä hash piilotetaan. Piilotettu hash lähetetään palvelimelle.</li>
        <li>Äänestäjä lähettää alussa saaneensa koodin ja piilotetun hashin palvelimelle ja palvelin allekirjoittaa piilotetun hashin.</li>
        <li>Äänestäjä saa piilotetun allekirjoituksen takaisin palvelimelta, joka paljastamalla saadaan allekirjoitus alkuperäiselle hashille.</li>
        <li>Saatu allekirjoitus lisätään vielä vaalilippuun, ja se lähetetään palvelimelle</li>
      </ol>
      <h3>Mahdolliset ongelmat</h3>
      <ul type="*">
        <li>Allekirjoituspalvelin voi teoreettisesti tehdä ääniä lisää (mutta ei voi muokata käyttäjien ääniä). Jos saadaan jotain muuta kautta tieto siitä, kuinka moni on äänestänyt edes tyhjää, voidaan laskea äänten määrät ja tarkistaa yhtenäisyys siten. Tieto äänestyksestä ei välttämättä tarvitsisi olla anonyymi.</li>
        <li>Ääniä tallentava palvelin voi teoreettisesti poistaa käyttäjien ääniä. Jokainen käyttäjä voi tarkistaa oman äänensä yhtenäisyyden, joten tämä ei ole niin suuri ongelma. Lisäksi voidaan käyttää montaa äänentallennuspalvelinta, jolloin jokaista niistä pitäisi manipuloida.</li>
        <li>Joku voi ottaa tunnistautumiskoodin välistä, riippuen niiden toimitustavasta</li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'About'
}
</script>
