<template>
  <div>
    <p>
      Äänestä alla. Valitse, kumpaa puheenjohtajaehdoksta äänestät puheenjohtajaksi ja äänestä <strong>kolmea ehdokasta tärkeysjärjestyksessä</strong> paras ehdokas ylimmäisenä ja huonoin alimmaisena.
      <br>
      Kun painat vahvista-nappia sinulta kysytään Wilmassa saamaasi koodia.
    </p>
    <p>
      <router-link to="/about">Lisätietoja</router-link> äänestysjärjestelmästä
    </p>
    <VotingForm @openVerifyModal="openVerifyModal" />
    <b-modal
      v-model="isModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="true"
      aria-role="dialog"
      aria-modal>
      <VotingVerifyModal @voteConfirmed="doVote" />
    </b-modal>
    <b-loading :active="isLoadingActive" />
  </div>
</template>

<script>
import VotingForm from '@/components/VotingForm.vue'
import VotingVerifyModal from '@/components/VotingVerifyModal.vue'
import { store } from '@/store'
import { vote } from '@/voting'

export default {
  components: { VotingForm, VotingVerifyModal },
  name: 'Vote',
  data () {
    return {
      isModalActive: false,
      isLoadingActive: false
    }
  },
  methods: {
    openVerifyModal () {
      this.isModalActive = true
    },
    async doVote () {
      try {
        this.isLoadingActive = true
        const success = await vote()
        this.isLoadingActive = false
        if (success) this.$router.push('/voted')
      } catch (error) {
        this.$router.push('/votingerror')
      }
    }
  }
}
</script>

<style scoped>
div{
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  min-height: 20em;
}

</style>
