<template>
  <section class="section" style="overflow-y: auto">
    <div class="content has-text-left">
      <h1>Olet jo äänestänyt</h1>
      <b-collapse
        aria-id="ballotRevealAria"
        class="panel"
        animation="slide"
        v-model="isBallotOpen">
        <div
          slot="trigger"
          class="panel-heading"
          role="button"
          aria-controls="ballotRevealAria">
          <strong v-if="isBallotOpen">Piilota ääni</strong>
          <strong v-else>Näytä ääni</strong>
        </div>
        <div v-if="parsedBallot" class="panel-block custom">
          <div class="content">
            <b>Äänesi:</b>
            <ol>
              <li v-for="vote in parsedBallot.votes" :key="vote">{{vote}}</li>
            </ol>
            <b>Puheenjohtaja-ääni:</b>
            <p>{{parsedBallot.pjvote}}</p>
          </div>
          <p style="word-wrap: anywhere" class="is-size-7">
            Ongelmatilanteissa näitä tietoja saatetaan tarvita:<br>
            Satunnainen ID: {{parsedBallot.id}}<br>
            Allekirjoitus: {{parsedBallot.sig}}
          </p>
        </div>
      </b-collapse>
      <h4>Etkö ole äänestänyt?</h4>
      <p>Tällä laitteella on saatettu äänestää aiemmin. Tässä tilanteessa poista nykyinen ääni lokaalisti.</p>
      <h4>Poista lokaali ääni</h4>
      <p>Voit halutessasi poistaa lokaalin äänen. Suosittelemme kuitenkin poistamaan sen vasta kun olet varmistanut, että äänesi on julkaistuissa äänissä. Poistaminen <strong>ei</strong> vaikuta äänestystulokseen.</p>
      <b-button type="is-danger" @click="deleteSavedVote">Poista ääni</b-button>
    </div>
  </section>
</template>

<script>
import { getSavedBallot, deleteSavedBallot } from '@/voting'
export default {
  name: 'Voted',
  data () {
    return {
      isBallotOpen: false
    }
  },
  methods: {
    deleteSavedVote () {
      deleteSavedBallot()
      this.$router.push('/')
    }
  },
  computed: {
    parsedBallot () {
      const ballot = getSavedBallot()
      if (ballot) {
        const parts = ballot.split('-')
        const id = parts[0]
        const votes = parts[1].split(',')
        const pjvote = parts[2]
        const sig = parts[3]
        return { id, votes, pjvote, sig, ballot }
      } else {
        return null
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.panel-block.custom{
  display: flex;
  flex-direction: column;
  align-items: start;
}
</style>
