<template>
  <section class="section" style="overflow-y: auto">
    <div class="content has-text-left">
      <h1>Äänestyksessä tapahtui virhe...</h1>
      <p><strong>Otathan yhteyttä: (vastuuhenkilö)</strong></p>
      <p v-for="error in store.errors" :key="error">{{error.toString()}}</p>
    </div>
  </section>
</template>

<script>
import { store } from '@/store'
export default {
  name: 'Voted',
  data () {
    return {
      store: store
    }
  }
}
</script>

<style lang="scss" scoped>
.panel-block.custom{
  display: flex;
  flex-direction: column;
  align-items: start;
}
</style>
