<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">Vahvista äänesi</p>
    </header>
    <section class="modal-card-body">
      <p><strong>Puheenjohtajaksi</strong></p>
      <p class="has-text-left">{{store.pjvote}}</p>
      <p><strong>Varsinaiset äänet</strong></p>
      <div class="has-text-left">
        <p v-for="(vote, index) in store.votes" :key="vote">
          {{index + 1}}. {{vote}}
        </p>
      </div>
      <div v-if="store.votes.length == 0">
        <p class="is-size-6"><strong>Tyhjä ääni</strong></p>
      </div>
      <br>
      <b-field label="Koodi">
        <b-input v-model="store.code" placeholder="Koodi"></b-input>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <b-button type="is-primary" @click="confirm">Äänestä</b-button>
      <b-button @click="cancel">Peruuta</b-button>
    </footer>
  </div>
</template>

<script>
import { store } from '@/store'

export default {
  name: 'VotingVerifyModal',
  data () {
    return {
      store
    }
  },
  methods: {
    cancel () {
      this.$parent.close()
    },
    confirm () {
      this.$emit('voteConfirmed')
      this.$parent.close()
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
