<template>
  <section class="section vote">
    <section class="columns">
      <div class="column is-flex">
        <p class="is-size-3">Äänet</p>
        <b-field>
          <b-button expanded type="is-danger is-light" icon-right="delete" @click="reset">
            Tyhjennä valinnat
          </b-button>
        </b-field>
        <p class="is-size-5">Puheenjohtajan äänestys</p>
        <b-select placeholder="Valitse ehdokas" v-model="store.pjvote" expanded style="margin: 0.5em;">
          <option
            v-for="candidate in pjcandidates"
            :key="candidate"
            >
            {{ candidate }}
          </option>
        </b-select>
        <p class="is-size-5">Varsinaiset äänet <span :class="store.votes.length === 3 ? 'has-text-success' : 'has-text-danger'">{{store.votes.length}}/3</span></p>
        <draggable :list="store.votes" group="people" animation="150" class="votingArea has-background-white-bis">
            <div v-for="(candidate, index) in store.votes" :key="candidate" class="candidate level has-background-info has-text-info-light">
              <p>{{index + 1}}. {{candidate}}</p>
              <b-button type="is-danger" icon-right="minus" @click="remove(candidate)" />
            </div>
        </draggable>
      </div>
      <div class="column is-flex">
        <p class="is-size-3">Ehdokkaat</p>
        <b-field>
          <b-input
            v-model="search"
            placeholder="Etsi ehdokasta"
            icon="magnify"
            icon-right="close-circle"
            icon-right-clickable
            @icon-right-click="clearSearch">
          </b-input>
        </b-field>
        <draggable :list="searchedCandidates" group="people" animation="150" onDragAdd="" onDragRemove="" ref="draggable1" @remove="removeFromUnvoted" @add="addToUnvoted" class="votingArea has-background-white-bis">
            <div v-for="candidate in searchedCandidates" class="candidate level has-background-info has-text-info-light" :key="candidate">
              <p>{{candidate}}</p>
              <b-button type="is-success" icon-right="plus" @click="add(candidate)" />
            </div>
        </draggable>
      </div>
    </section>
    <div>
      <b-button size="is-large" type="is-primary" @click="openVerifyModal" :disabled="!canvote">Vahvista</b-button>
    </div>
  </section>
</template>

<script>
import draggable from 'vuedraggable'
import { store } from '@/store'

export default {
  name: 'VotingForm',
  components: {
    draggable
  },
  data () {
    return {
      store: store,
      search: ''
    }
  },
  computed: {
    searchedCandidates () {
      return store.unvotedCandidates.filter(candidate => {
        return candidate.toLowerCase().includes(this.search.toLowerCase())
      })
    },
    pjcandidates () {
      return store.allCandidates.filter(candidate => {
        return candidate.toLowerCase().includes('(pj)')
      })
    },
    canvote () {
      return store.votes.length === 3 && store.pjvote !== null
    }
  },
  methods: {
    openVerifyModal () {
      this.$emit('openVerifyModal')
    },
    clearSearch () {
      this.search = ''
    },
    add (candidate) {
      store.unvotedCandidates = store.unvotedCandidates.filter(elem => elem !== candidate)
      store.votes.push(candidate)
    },
    remove (candidate) {
      store.votes = store.votes.filter(elem => elem !== candidate)
      store.unvotedCandidates.push(candidate)
    },
    reset () {
      store.votes = []
      store.unvotedCandidates = store.allCandidates
      store.pjvote = null
    },
    setIndex (event) {
      const oldIndex = event.target.attributes.originalvalue.value - 1
      const newIndex = event.target.value - 1
      this.arrayMove(store.votes, oldIndex, newIndex)
      event.target.blur()
    },
    arrayMove (arr, oldIndex, newIndex) {
      if (newIndex >= arr.length) {
        var k = newIndex - arr.length + 1
        while (k--) {
          arr.push(undefined)
        }
      }
      arr.splice(newIndex, 0, arr.splice(oldIndex, 1)[0])
    },
    removeFromUnvoted (event) {
      const i = event.oldIndex
      if (i !== -1) {
        console.log('splicing unvotedcandidates', i)
        store.unvotedCandidates.splice(i, 1)
      }
      return true
    },
    addToUnvoted (event) {
      const value = event.item._underlying_vm_
      store.unvotedCandidates.push(value)
      return true
    }
  }
}
</script>

<style lang="scss">
  .candidateindex::-webkit-outer-spin-button,
  .candidateindex::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .candidateindex {
    -moz-appearance: textfield;
    background-color: rgba(0,0,0,0);
    color: #ecf4fe !important;
    width: 22px;
    border: none;
    border-bottom: 2px solid #ecf4fe;
    text-align: center;
  }
  .is-flex{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .stackedbuttons {
    display: flex;
    flex-direction: column;
  }
  .votingArea{
    padding: 1em;
    min-height: 5em;
    overflow-y: scroll;
    flex: 1;
    scrollbar-color: rgba(0,0,0,0.25) rgba(0,0,0,0);
    scrollbar-width: thin;
    overflow-x: hidden;
  }
  .votingArea::-webkit-scrollbar-track {
    background-color: rgba(25,25,25,0);
  }
  .votingArea::-webkit-scrollbar-track-piece {
    display: none;
  }
  .candidate{
    margin: 0.5em !important;
    border: 0.5em solid rgba(0,0,0, 0);
    border-radius: 4px;
    display: flex;
  }
  .candidate:last-child{
    margin-bottom: 1.5em !important;
  }
  .section.vote{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }
  .columns{
    overflow: auto;
    flex: 1;
  }
</style>
